
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root{
	--bg:#172335;
	--card:#0b1220;
	--muted:#94a3b8;
	--accent:#7c3aed;
	--glass: rgba(255,255,255,0.04);
	--radius:12px;
	--maxw:1100px;
	--gap:24px;
	font-synthesis: none;
} */

*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", "sans-serif";	
	/* color: white; */
}

body {
	background-color: #172335;
}

#home{
	width: 100vw;
	height: 100vw;
}

.nav{
	width: 80vw;
	height: 50px;
	background: rgba(240, 248, 255, 0.948);
	position: fixed;
	top:5vh;
	left: 10vw;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 2px 2px 15px rgb(131, 23, 164),-2px -2px 15px rgb(131, 23, 164);
	position: relative;
}

.left-nav{
	margin-left: 15px;
	font-size: 25px;
	font-weight: 500;
	font-family: serif;
}

.right-nav{
	display: flex;
	gap: 2vw;
	margin-right: 10px;
}

.right-nav a {
	text-decoration: none;
	font-weight: 500;
	color :rgb(66, 11, 83);
	&:hover{
		font-weight: 600;
		text-decoration: underline;
	}
}



#hambarger{
	display: none;
	position: absolute;
	right: 10px;
	/* margin-right: 20px; */
}



@media (width < 1000px) {
	
	.right-nav{
		display: none;
	}
	
	#hambarger{
		display: block;
		margin-right: 20px;

		&:hover{
			transform: scale(1.2);
		}
		&:active{
			transform: scale(0.9);
		}
	}	
	.active-nav{
		height: 400px;
		display: block;
		padding-top: 20px;
	}

	.active_nav_list{
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 20px;
		height: 100%;
		width: 100%;
	}

}